#platformIO
project/arduino/smart_waste_disposal/.vscode/*
project/arduino/smart_waste_disposal/.pio/*
project/arduino/smart_waste_disposal/.gitignore

#report and LaTex build files
*.pdf
*.png
*.aux
*.bbl
*.blg
*.log
*.out
*.gz
*.toc

#python related files
project/pc/__pycache__/*
